.chartContainer {
  @apply flex w-5/6 justify-center items-center mx-auto;
}

.dayStatisticContainer {
  @apply flex my-10 mx-auto justify-center h-20 gap-5;

  & .dayStatisticBlock {
    @apply flex flex-col items-center text-center;
  }
}
