.selectorHeader{
  @apply text-center;
}

.difficultySelector {
  @apply flex justify-center;
}

.selectorBtnWrap {
  @apply w-16 border-b m-2 uppercase rounded-2xl bg-sky-700 text-sky-200 font-medium;
  &:hover {
    @apply bg-sky-200 text-sky-800;
  } 

  .btn {
    @apply w-full h-full p-2;
  }
}